{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!-- Banner de Apresentação -->
    <section id="inicio" class="banner-conteiner" style="margin: 100px 0;">
        <div style="display: flex; justify-content: center; width: 50%;">
            <img src="{% static 'images/default.png' %}" style="border-radius: 10px;" alt="">
        </div>
        <div class="banner-conteudo">
            <div>
                <h1 style="font-size: 3.5em; margin: 0;">Sobre Nos</h1>
                <h2 style="font-size: 2.5em; margin: 0;">Template Blog</h2>
            </div>
            <div>
                <p style="font-size: 1.2em;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                    Rerum voluptate minima accusantium. Vero inventore eum alias <br>
                    nesciunt consequatur temporibus nobis consequuntur iusto rerum <br>
                    iste eius, atque adipisci deserunt! Doloribus, ipsum?
                </p>
            </div>
            <div class="ver-mais" style="gap: 20px; align-items: center; flex-direction: row;">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 10.8C5 8.18126 5 6.87188 5.58944 5.91001C5.91926 5.37178 6.37178 4.91926 6.91001 4.58944C7.87188 4 9.18126 4 11.8 4H12.2C14.8187 4 16.1281 4 17.09 4.58944C17.6282 4.91926 18.0807 5.37178 18.4106 5.91001C19 6.87188 19 8.18126 19 10.8V14C19 14.9288 19 15.3933 18.9487 15.7832C18.5942 18.4756 16.4756 20.5942 13.7832 20.9487C13.3933 21 12.9288 21 12 21V21C11.0712 21 10.6067 21 10.2168 20.9487C7.52444 20.5942 5.40579 18.4756 5.05133 15.7832C5 15.3933 5 14.9288 5 14V10.8Z" stroke="#E0E8F0" stroke-width="2" stroke-linejoin="round"/>
                    <path d="M12 4V9" stroke="#E0E8F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span style="font-size: .8em;">Role para explorar mais seções</span>
            </div>
        </div>
    </section>


    <!-- Seção de Tópicos -->
    <section id="sobre">
        <div class="secao-conteudo">
            <header>
                <h2 style="font-size: 3em;">Nossos Serviços</h2>
                <h3 style="font-size: 1.5em; color: #90B7DE; font-weight: normal;">Navegue por nossos serviços e encontre a solução perfeita para suas necessidades.</h3>    
            </header>
            <div style="display: flex; gap: 50px; width: 100%; margin-bottom: 100px;">
                <div style="gap: 20px; background-color: #0D1114; width: 33%; height: 300px; border-radius: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <svg width="81" height="93" viewBox="0 0 270 310" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M135 0L269.5 76.5L270 232L162 171L191 156L243 186V95L163 48V108L135 125V0Z" fill="#0D2032"/>
                        <path d="M27 95L135 155.706V279L55 232L80 216.5L108 232.706V171L54.5 139.706V169.046L27 185V95Z" fill="#0D2032"/>
                        <path d="M107 48V78L81.5 92.5L107 109L135 125L188.5 92.5L163 78V48L243 95L135 156L27 95L107 48Z" fill="#90B7DE"/>
                        <path d="M108 171V200L55 232L135 279L217 232L162 200V171L270 232L135.5 309.5L0 232L108 171Z" fill="#90B7DE"/>
                        <path d="M0 77L135 0V125L107 109V48L27 95V185L79.5 154.5L108 171L0 232V77Z" fill="#348AE0"/>
                        <path d="M135 155.833L243 95V186L216 170.5V143L162 171V233L190 216.5L217 232L135 279V155.833Z" fill="#348AE0"/>
                    </svg>
                    <h4 style="font-size: 1.5em; font-weight: normal;">Lorem ipsum</h4>
                    <p style="display: flex; width: 80%; text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum voluptate minima accusantium. </p>
                </div>
                <div style="gap: 20px; background-color: #0D1114; width: 33%; height: 300px; border-radius: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <svg width="81" height="93" viewBox="0 0 270 310" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M135 0L269.5 76.5L270 232L162 171L191 156L243 186V95L163 48V108L135 125V0Z" fill="#0D2032"/>
                        <path d="M27 95L135 155.706V279L55 232L80 216.5L108 232.706V171L54.5 139.706V169.046L27 185V95Z" fill="#0D2032"/>
                        <path d="M107 48V78L81.5 92.5L107 109L135 125L188.5 92.5L163 78V48L243 95L135 156L27 95L107 48Z" fill="#90B7DE"/>
                        <path d="M108 171V200L55 232L135 279L217 232L162 200V171L270 232L135.5 309.5L0 232L108 171Z" fill="#90B7DE"/>
                        <path d="M0 77L135 0V125L107 109V48L27 95V185L79.5 154.5L108 171L0 232V77Z" fill="#348AE0"/>
                        <path d="M135 155.833L243 95V186L216 170.5V143L162 171V233L190 216.5L217 232L135 279V155.833Z" fill="#348AE0"/>
                    </svg>
                    <h4 style="font-size: 1.5em; font-weight: normal;">Rerum voluptate</h4>
                    <p style="display: flex; width: 80%; text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum voluptate minima accusantium. </p>
                </div>
                <div style="gap: 20px; background-color: #0D1114; width: 33%; height: 300px; border-radius: 10px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <svg width="81" height="93" viewBox="0 0 270 310" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M135 0L269.5 76.5L270 232L162 171L191 156L243 186V95L163 48V108L135 125V0Z" fill="#0D2032"/>
                        <path d="M27 95L135 155.706V279L55 232L80 216.5L108 232.706V171L54.5 139.706V169.046L27 185V95Z" fill="#0D2032"/>
                        <path d="M107 48V78L81.5 92.5L107 109L135 125L188.5 92.5L163 78V48L243 95L135 156L27 95L107 48Z" fill="#90B7DE"/>
                        <path d="M108 171V200L55 232L135 279L217 232L162 200V171L270 232L135.5 309.5L0 232L108 171Z" fill="#90B7DE"/>
                        <path d="M0 77L135 0V125L107 109V48L27 95V185L79.5 154.5L108 171L0 232V77Z" fill="#348AE0"/>
                        <path d="M135 155.833L243 95V186L216 170.5V143L162 171V233L190 216.5L217 232L135 279V155.833Z" fill="#348AE0"/>
                    </svg>
                    <h4 style="font-size: 1.5em; font-weight: normal;">Vero inventore</h4>
                    <p style="display: flex; width: 80%; text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum voluptate minima accusantium. </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Seção Sobre -->
    <section id="home" class="banner-conteiner" style="border-top: 1px solid #E0E8F0;">
        <div style="display: flex; gap: 50px; flex-direction: column;">
            <div>
                <h2 style="font-size: 3em; margin: 0;">Quem Somos?</h2>
                <h3 style="font-size: 1.5em; margin: 0;">Como nossa história começou</h3>
            </div>
            <p style="font-size: 1.2em;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Rerum voluptate minima accusantium. Vero inventore eum alias <br>
                nesciunt consequatur temporibus nobis consequuntur iusto rerum <br>
                iste eius, atque adipisci deserunt! Doloribus, ipsum?
            </p>
            <p style="font-size: 1.2em;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Rerum voluptate minima accusantium. Vero inventore eum alias <br>
                nesciunt consequatur temporibus nobis consequuntur iusto rerum <br>
                iste eius, atque adipisci deserunt! Doloribus, ipsum?
            </p>
        </div> 
        <div style="display: flex; justify-content: center; width: 50%;">
            <img src="{% static 'images/default.png' %}" style="border-radius: 10px;" alt="">
        </div>
    </section>

    
    <!-- Seção Sobre -->
    <section id="home" class="banner-conteiner" style="border-top: 1px solid #E0E8F0;">
        <div style="display: flex; justify-content: center; width: 50%;">
            <img src="{% static 'images/default.png' %}" style="border-radius: 10px;" alt="">
        </div>
        <div style="display: flex; gap: 50px; flex-direction: column;">
            <div>
                <h2 style="font-size: 3em; margin: 0;">Quem Somos?</h2>
                <h3 style="font-size: 1.5em; margin: 0;">Como nossa história começou</h3>
            </div>
            <p style="font-size: 1.2em;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Rerum voluptate minima accusantium. Vero inventore eum alias <br>
                nesciunt consequatur temporibus nobis consequuntur iusto rerum <br>
                iste eius, atque adipisci deserunt! Doloribus, ipsum?
            </p>
            <p style="font-size: 1.2em;">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Rerum voluptate minima accusantium. Vero inventore eum alias <br>
                nesciunt consequatur temporibus nobis consequuntur iusto rerum <br>
                iste eius, atque adipisci deserunt! Doloribus, ipsum?
            </p>
        </div> 
    </section>
{% endblock page_content %}