{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <!-- Seção Sobre -->
    <section id="home" class="banner-conteiner" style="border-top: 1px solid #E0E8F0;">
        <div style="display: flex; gap: 50px; flex-direction: column;">
            <div>
                <h2 style="font-size: 3em; margin: 0;">Entrar</h2>
            </div>
            <div>
                <form method="post" action="{% url 'pagina_entrar' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div> 
    </section>
{% endblock page_content %}