@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    color: #E0E8F0;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #06080A;
}


/* -------------------- Cabeçalho -------------------- */
.cabecalho-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    display: flex;
    color: #E0E8F0;
    align-items: center;
    justify-content: center;
    background-color: #06080A;
    border-bottom: 1px solid #0D2032;
}

.cabecalho-conteudo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-conteudo a {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
}

.cabecalho-conteudo nav ul {
    gap: 30px;
    display: flex;
    list-style: none;
}

.cabecalho-conteudo nav li a {
    color: #CCCCCC;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
}

.cabecalho-conteudo nav li:last-child a {
    color: #90B7DE;
    padding: 5px 30px; 
    border-radius: 10px; 
    border: 1px solid #90B7DE; 
}

.cabecalho-conteudo nav li:hover a {
    color: #FFFFFF;
}

.cabecalho-conteudo nav li:last-child a:hover {
    color: #348AE0;
    border: 1px solid #348AE0;
    background-color: #0D2032;
}


/* -------------------- Principal -------------------- */
.principal-conteiner {
    display: flex;
    justify-content: center;
}

.principal-conteudo {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
}


/* -------------------- Cabeçalho -------------------- */
.rodape-conteiner {
    display: flex; 
    width: 100%; 
    align-items: center; 
    background-color: #06080A; 
    flex-direction: column; 
    border-top: 1px solid #0D2032;
}

.rodape-conteudo {
    width: 80%; 
    display: flex;
    margin: 100px 0; 
    flex-direction: column;
}

.rodape-conteudo div {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.rodape-conteudo div nav ul {
    gap: 30px;
    display: flex;
    list-style: none;
}

.rodape-conteudo div nav li a {
    color: #CCCCCC;
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
}

.rodape-conteudo nav li:hover a {
    color: #FFFFFF;
}

.rodape-conteudo hr {
    margin: 20px 0;
    border: 1px solid #E0E8F0;
}

.rodape-redes-sociais {
    display: flex; 
    align-items: center; 
    gap: 20px;
}

.rodape-redes-sociais div {
    display: flex; width: 50px; height: 50px; background-color: #90B7DE; border-radius: 10px;
}

.rodape-dev {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 30px; 
    background-color: #0D1114; 
    width: 100%;
}

.rodape-dev span a {
    color: #E0E8F0;
}

.rodape-dev span a:hover {
    color: #348AE0;
}